body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafbfb;
    margin: 0;
}

.game-container {
    width: 100%; /* Adjusted width */
    height: 100%; /* Adjusted height */
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    /*background-color: #e9ecef;*/
    background: url("../img/background3.jpg");
    background-size: cover;
    overflow-y: auto; /* ← Allows scrolling within game-container */
    box-sizing: border-box;
    position: relative;
}

#cy {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e9ecef;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

#popup-close {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #69b3a2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup-2 {
    position: fixed;
    top: 49%;
    left: 50%;
    width: 90%;
    height: 60%;
    background-color: #e9ecef; /* or any other background color you prefer */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    overflow: auto; /* Enable scrolling if content overflows */
}

.popup2-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#popup-message-el, #popup-message-en {
    font-size: 18px;
}

#switch-lang {
    display: none;
}
.flexed {
    display: flex;
    justify-content: center;
}
.flexed2 {
    display: flex;
    justify-content: space-between;
}
.submit-line {
    padding-top: 40px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /*background: rgba(239, 239, 240, 0.95);*/
    background: url("../img/background3.jpg");
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.popup.hidden {
    display: none;
}

.popup-content {
    text-align: center;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#scores-popup-el, #scores-popup-en,
#tutorial-popup-el, #tutorial-popup-en {
    flex-direction: column;
}

.info-popup {
    text-align: left;
}
@media screen and (max-width: 700px) {
    .info-popup {
        margin-top: 0;
        padding-top: 0;
    }
}

#tutorial-button-el, #tutorial-button-en {
    background: #d49726;
}
#scores-button-el, #scores-button-en {
    background: #d45226;
}

#comparison-table-en img,
#comparison-table-el img{
    border-radius: 7%;
    border: 1px solid #439662!important;
}