body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.game-container {
    width: 90%; /* Adjusted width */
    height: 90%; /* Adjusted height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF9C4; /* Pale yellow */
}

#cy {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

#popup-close {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #69b3a2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup-2 {
    position: fixed;
    top: 49%;
    left: 50%;
    width: 90%;
    height: 92%;
    background-color: white; /* or any other background color you prefer */
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px;
    overflow: auto; /* Enable scrolling if content overflows */
}

#switch-lang {
    display: none;
}
